@import './src/pages/auth.css';
@import './src/pages/chat.css';
@import './src/pages/profile.css';
@import './src/pages/error.css';
@import './src/partials/buttonAuth.css';
@import './src/partials/modal.css';

* {
  width: 100%;
  height: 100%;
  margin: 0;
}
