@import '../../style/variables.scss';

.buttonAuth {
  width: 280px;
  height: 37px;
  background-color: $color-button-background;
  color: $color-white;
  border-radius: 8px;
  border-color: $color-button-background;
  font-size: 13;
  cursor: pointer;
}
