<div class='chat__list'>
  <div class='chat__list__profileLink'>
    <a href={{route.profile}} class='chat__list__profileLink__icon'>Профиль{{>chat/arrowRight}}</a>
  </div>
  <input
    class='chat__list__input'
    type='text'
    id='chatSearch'
    placeholder='Поиск'
    name='chatSearch'
  />
    {{#each data}}
      <div class='chat__list__message__container'>
        <div class="chat__list__message__circle">
        </div>
        <div class='chat__list__message__text'>
          <span class='chat__list__message__title'>{{username}}</span>
          <span class='chat__list__message__last'>{{lastMessage}}</span>
        </div>
        <div class='chat__list__message__lastDate'>{{lastMessageDate}}</div>
      </div>
    {{/each}}

</div>