.chat {
  &__container {
    display: flex;
    flex-direction: row;
  }
  &__list {
    width: 310px;
    height: auto;
    padding: 10px;
    background-color: #fbfbfb;
    &__profileLink {
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 11px;
      width: 310px;
      height: 12;
      color: #999999;
      font-size: 12;
      &__icon {
        width: 12px;
      }
    }
    &__input {
      height: 32px;
      margin-top: 23px;
      margin-bottom: 14px;
      border-radius: 5px;
      border-width: 0px;
      background: url('./src/static/img/search_icon.png') no-repeat 35% #efefef;
      padding: 10px;
    }
    &__input:focus {
      outline: none;
      background: #efefef;
    }
    &__input::placeholder {
      text-align: center;
    }
    &__message {
      &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        height: 71px;
        border: solid #eaeaea;
        border-width: 1px 0px 0px 0px;
        padding-top: 12px;
        padding-bottom: 12px;
        cursor: pointer;
      }
      &__circle {
        width: 47px;
        height: 47px;
        background: #efefef;
        border-radius: 50%;
        border-width: 0px;
      }

      &__userImg {
        width: 47px;
        height: 47px;
        background: #efefef;
        border-radius: 50%;
        border-width: 0px;
      }
      &__text {
        width: 193px;
        font-size: 13;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
      }
      &__title {
        font-weight: bold;
        height: 13px;
      }

      &__last {
        margin-top: 4px;
        font-size: 12;
        height: 30px;
        color: #999999;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 30px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      &__lastDate {
        font-size: 9;
        color: #999999;
        width: 23px;
        display: flex;
        justify-content: flex-end;
        white-space: nowrap;
      }
    }
  }
  &__body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-size: 12;
    color: #999999;
    padding: 10px 20px;
    &__title {
      width: 100%;
      height: 54px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      padding: 10px 0px;
      &__circle {
        width: 34px;
        height: 34px;
        background: #efefef;
        border-radius: 50%;
        border-width: 0px;
        margin-left: 10px;
      }
      &__user {
        margin-left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 13;
        font-weight: bold;
        color: #1e1e1e;
      }
      &__img {
        width: 4px;
        height: 20px;
        margin-right: 20px;
      }
    }
    &__line {
      margin-left: 10px;
      margin-right: 20px;
      border-bottom: #eaeaea 1px solid;
      height: 1px;
    }
    &__date {
      margin-top: 48px;
      text-align: center;
      font-size: 12;
      color: #999999;
      height: auto;
    }
    &__message {
      font-size: 12;
      &__container {
        max-width: 380px;
        min-width: 114px;
        width: auto;
        height: auto;
        background-color: #efefef;
        color: #1e1e1e;
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        border-radius: 12px;
        padding: 11px;
      }
      &__time {
        width: 100%;
        height: auto;
        font-size: 9;
        color: #999999;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
    &__img {
      margin-top: 10px;
      width: 316px;
      height: 211px;
    }
    &__you {
      font-size: 12;
      max-width: 380px;
      min-width: 114px;
      width: auto;
      background-color: #e4edfd;
      color: #1e1e1e;
      margin-top: 30px;
      border-radius: 12px;
      padding: 11px;

      &__container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
      }
      &__time {
        width: 100%;
        height: auto;
        font-size: 9;
        color: #999999;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: fixed;
        margin-right: 10px;
        margin-bottom: 5px;
      }
    }
    &__footer {
      width: 100%;
      height: 54px;
      padding: 10px 0px;
      text-align: center;
      margin: auto 0 0 0;
      &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      &__img {
        width: 32px;
        height: 32px;
      }
      &__imgSend {
        width: 28px;
        height: 28px;
        margin-left: 10px;
      }

      &__input {
        border-radius: 30px;
        background-color: #efefef;
        padding-left: 10px;
        border: 0px;
        height: 32px;
      }
      &__input:focus {
        outline: none;
      }
    }
  }
}
