{{!< error}}

<div class='error__container'>
  <div class='error__title'>
    {{error.title}}
  </div>
  <div class='error__message'>
    {{error.message}}
  </div>
  <a href='./chat.hbs' class='error__link'>Назад к чатам</a>
</div>