{{!< error}}

<main class='error__container'>
  <p class='error__title'>
    {{error.title}}
  </p>
  <span class='error__message'>
    {{error.message}}
  </span>
  <a href={{route.chat}} class='error__link'>Назад к чатам</a>
</main>
