@import './variables.scss';

.api-error {
  min-height: 10px;
  font-size: 13px;
  color: $color-danger-light;
  text-align: center;
  margin-top: 30px;
}

.api-success {
  min-height: 10px;
  font-size: 13px;
  color: $color-black;
  text-align: center;
  margin-top: 30px;
}
