@import './variables.scss';

.chat {
  &__container {
    display: flex;
    flex-direction: row;
  }
  &__list {
    width: 310px;
    height: auto;
    padding: 10px;
    background-color: #fbfbfb;
    &__profileLink {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 11px;
      width: 310px;
      height: 12;
      color: $color-text-background;
      font-size: 12;
      &__icon {
        width: 60px;
        display: flex;
      }
      &__svg {
        width: 10px;
        height: 20px;
      }
    }
    &__input {
      height: 32px;
      width: 94%;
      margin-top: 23px;
      margin-bottom: 14px;
      border-radius: 5px;
      border-width: 0px;
      background: url('./static/img/search_icon.png') no-repeat 35%
        $color-background-light;
      padding-left: 10px;
      padding-right: 10px;
    }
    &__input:focus {
      outline: none;
      background: $color-background-light;
    }
    &__input::placeholder {
      text-align: center;
    }
    &__message {
      &__ulcontainer {
        height: auto;
        padding: 0;
        cursor: pointer;
      }

      &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        height: 71px;
        border: solid $color-background;
        border-width: 1px 0px 0px 0px;
        padding-top: 12px;
        padding-bottom: 12px;
        cursor: pointer;
      }
      &__circle {
        width: 47px;
        height: 47px;
        background: $color-background-light;
        border-radius: 50%;
        border-width: 0px;
      }

      &__userImg {
        width: 47px;
        height: 47px;
        background: $color-background-light;
        border-radius: 50%;
        border-width: 0px;
      }
      &__text {
        width: 193px;
        font-size: 13;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
      }
      &__title {
        font-weight: bold;
        height: 13px;
      }

      &__last {
        margin-top: 4px;
        font-size: 12;
        height: 30px;
        color: $color-text-background;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 30px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      &__lastDate {
        font-size: 9;
        color: $color-text-background;
        width: 23px;
        height: auto;
        display: flex;
        justify-content: flex-end;
        white-space: nowrap;
        position: absolute;
        left: 300px;
      }
      &__unread {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__body {
    width: 95%;
    height: 82vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-size: 12;
    color: $color-text-background;
    padding: 10px 20px;
    &__title {
      width: 100%;
      height: 54px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      padding: 10px 0px;
      &__circle {
        width: 34px;
        height: 34px;
        background: $color-background-light;
        border-radius: 50%;
        border-width: 0px;
        margin-left: 10px;
      }
      &__user {
        margin-left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 13;
        font-weight: bold;
        color: $color-black-light;
      }
      &__img {
        width: 20px;
        height: 20px;
        margin-right: 20px;
        cursor: pointer;
        border: none;
      }
    }
    &__line {
      margin-left: 10px;
      margin-right: 20px;
      border-bottom: $color-background 1px solid;
      height: 1px;
    }
    &__date {
      margin-top: 48px;
      text-align: center;
      font-size: 12;
      color: $color-text-background;
      height: auto;
    }
    &__message {
      height: 40px;
      width: 91%;
      align-items: flex-end;
      padding: 0 3.5%;
      flex-direction: column;
      justify-content: space-evenly;
      display: flex;
      border-radius: 5px;
      background-color: $color-message-light;
      margin: 7px;
      &__text {
        text-align: end;
        font-size: 13;
      }
      &__display {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
      }
      &__container {
        height: 80vh;
        width: 96%;
        background-color: $color-background-light3;
        color: $color-black-light;
        overflow-y: auto;
        flex-direction: column-reverse;
        justify-content: flex-start;
        overflow-y: auto;
        display: flex;
        align-items: center;
      }
      &__time {
        width: 100%;
        height: auto;
        font-size: 9;
        color: $color-text-background;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
    &__img {
      margin-top: 10px;
      width: 316px;
      height: 211px;
    }
    &__you {
      font-size: 12;
      max-width: 380px;
      min-width: 114px;
      width: auto;
      background-color: $color-light;
      color: $color-black-light;
      margin-top: 30px;
      border-radius: 12px;
      padding: 11px;

      &__container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
      }
      &__time {
        width: 100%;
        height: auto;
        font-size: 9;
        color: $color-text-background;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: fixed;
        margin-right: 10px;
        margin-bottom: 5px;
      }
    }
    &__footer {
      width: 100%;
      height: 35px;
      padding: 10px 0px;
      text-align: center;
      margin: auto 0 0 0;
      &__inputContainer {
        height: auto;
        margin-left: 10px;
      }
      &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 9px;
      }
      &__img {
        width: 32px;
        height: 32px;
        border: none;
        cursor: pointer;
      }
      &__imgSend {
        width: 30px;
        height: 28px;
        margin-left: 30px;
        margin-right: 10px;
        border: none;
        cursor: pointer;
      }

      &__input {
        border-radius: 30px;
        background-color: $color-background-light;
        padding-left: 10px;
        border: 0px;
        height: 32px;
      }
      &__input:focus {
        outline: none;
      }
    }
  }
  &__settings {
    position: absolute;
    height: auto;
    right: 0;
    width: 150px;
    margin-right: 35px;
    margin-top: 27px;
    cursor: pointer;
    &__button {
      width: 20px;
      height: 20px;
      border: none;
      margin-left: 125px;
    }
    &__item {
      width: 100%;
      height: 30px;
      margin-top: 10px;
      border-radius: 5px;
      border-color: $color-light;
      &__avatar {
        width: 100%;
        height: 30px;
        margin-top: 10px;
        border-radius: 5px;
        border-color: $color-light;
      }
    }
    &__item2 {
      border-radius: 5px;
      border-color: $color-light;
    }
  }
}
