@import './variables.scss';

.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  &__buttonBack {
    width: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $color-background-light2;
    &__img {
      width: 28px;
      height: 28px;
      cursor: pointer;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &__avatar {
    margin-top: 60px;
    width: 130px;
    height: 130px;
    min-height: 130px;
    background: $color-background-light;
    border-radius: 50%;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &__img {
      width: 130px;
      height: 130px;
      border-radius: 50%;
    }
    &__change {
      position: absolute;
      background-color: $color-black;
      opacity: 0;
      border-radius: 50%;
      width: 130px;
      height: 130px;
      color: $color-white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 99;
      &__input {
        opacity: 0;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        color: $color-white;
      }
      &__input:hover {
        opacity: 0.5;
      }
      &__button {
        border-radius: 50%;
        border-width: 0;
        cursor: pointer;
      }
    }
    &__change:hover {
      opacity: 0.5;
    }

    &__saveAvatar {
      width: 250px;
      height: 30px;
      position: absolute;
      margin-top: 200px;
    }
    &__info {
      width: 250px;
      text-align: center;
      margin-top: 10px;
    }
  }
  &__title {
    width: auto;
    height: auto;
    margin-top: 21px;
    font-size: 16px;
    font-weight: bold;
  }
  &__data {
    display: flex;
    flex-direction: row;
    height: 23px;
    margin-top: 10px;
    &__apiSuccess {
      width: 250px;
      height: 20px;
      text-align: center;
      margin-top: 10px;
    }
    &__apiError {
      width: 250px;
      height: 20px;
      text-align: center;
      margin-top: 10px;
      color: $color-danger;
    }

    &__container {
      width: 510px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 100px;
    }
    &__title {
      font-size: 13px;
      font-weight: bold;
    }
    &__data {
      color: $color-text-background;
      font-size: 13px;
      text-align: end;
      margin-bottom: 10px;
      border: 0;
      &__avatar {
        display: none;
      }
      &__active {
        color: $color-black;
        font-size: 13px;
        text-align: end;
        margin-bottom: 10px;
        border: 0;
      }
      &__error {
        color: $color-danger;
        font-size: 13px;
        text-align: end;
        margin-bottom: 10px;
        border: 0;
      }

      &__active:focus {
        outline: none;
      }
      &__error:focus {
        outline: none;
      }
    }
    &__data:focus {
      outline: none;
    }
  }
  &__line,
  &__line2 {
    height: 1px;
    background-color: $color-background;
    width: 510px;
  }
  &__saveButton,
  &__changePasswordButton,
  &__exitButton {
    margin-top: 25px;
    height: 37px;
    width: 200px;
    color: $color-black;
    cursor: pointer;
    background-color: $color-light;
    border-color: $color-button-background;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
  }
  &__saveButton {
    margin-top: 15px;
  }
  &__saveButton__active {
    margin-top: 25px;
    height: 37px;
    width: 200px;
    color: $color-white;
    cursor: pointer;
    background-color: $color-button-background;
    border-color: $color-button-background;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
  }
  &__changePasswordButton,
  &__exitButton {
    margin-top: 10px;
  }
  &__exitButton {
    color: $color-danger;
    border-color: $color-danger;
  }
  &__changeData {
    width: 510px;
    margin-top: 60px;
    height: auto;
    color: $color-button-background;
    font-size: 13px;
  }
  &__password {
    width: 510px;
    margin-top: 10px;
    height: auto;
    color: $color-button-background;
    font-size: 13px;
  }
  &__line2 {
    margin-top: 10px;
  }
  &__exit {
    margin-top: 10px;
    width: 510px;
    color: $color-danger;
    font-size: 13px;
  }
  &__button {
    display: flex;
    justify-content: center;
    width: 510px;
    margin-top: 162px;
    &__container {
      width: 510px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
    }
  }
  &__error {
    font-size: 11px;
    margin-top: 7px;
    margin-left: 3px;
    color: $color-danger-light;
    height: 5px;
  }
}
