$color-text-background: #999999;
$color-button-background: #3369f3;
$color-danger: #ff0000;
$color-danger-light: #ff2f2f;
$color-background: #eaeaea;
$color-background-light: #efefef;
$color-white: #fff;
$color-black: #000;
$color-black-light: #1e1e1e;
$color-light: #e4edfd;
$color-background-light2: #fbfbfb;
