@import './css/login.min.scss';
@import './css/chat.min.scss';
@import './css/error.min.scss';
@import './css/profile.min.scss';
@import './css/button.min.scss';
@import './css/modal.min.scss';
@import './css/apiError.min.scss';

* {
  width: 100%;
  height: 100%;
  margin: 0;
}
