@import './style/login.scss';
@import './style/chat.scss';
@import './style/error.scss';
@import './style/profile.scss';
@import './components/buttons/button.scss';
@import './style/modal.scss';
@import './style/api.scss';

* {
  width: 100%;
  height: 100%;
  margin: 0;
}
